.pane{
    -fx-background-image: url("textures/bg.png");

}

.innerbg{
    -fx-background-image: url("textures/woodlight.png");
}


.buttons{
    -fx-background-image: url("textures/wood.png");
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.cardlabel{
    -fx-padding: 4 4 4 4;
}

.selected{
    -fx-border-color: red;
    -fx-border-width: 3 3 3 3;
}

.preview{
    -fx-border-color: black;
    -fx-border-width: 3 3 3 3;
}
