.rootPane{
    -fx-background-image: url(textures/Scroll4.png);
    -fx-background-size: stretch;
    -fx-font-family: "Blackadder ITC";
}


HBox {
    -fx-spacing: 5px;
}

Button {

    -fx-background-color: linear-gradient(from 20px 20px to 40px 40px, #7a4715, #965e00);
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-background-insets: 1px;
    -fx-label-padding: 2px;
    -fx-font-size: 20px;
    -fx-cursor: hand;
}

Slider {
    -fx-control-inner-background: #e7ac52;
    -fx-text-box-border: #000000;
    -fx-background-insets: 3px;
}
Slider .thumb{
    -fx-background-color: #fff3cc;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-cursor: open_hand;

}

Slider .thumb:pressed{
    -fx-cursor: closed_hand;
}

.itemLabel{
    -fx-font-size: 25px;
}

.moveLabel{
    -fx-font-family: "Blackadder ITC";
    -fx-font-size: 40px;
}

.stateLabel{
    -fx-font-family: "Blackadder ITC";
    -fx-font-size: 40px;
}

.objectName {
    -fx-font-size: 40px;
}
.objectDescription{
    -fx-font-size: 15px;
    -fx-font-family: "system-ui";
}

TextArea {
    -fx-background-color: rgba(53, 89, 119, 0);
    -fx-font-size: 15px;
    -fx-text-alignment: CENTER;
}

TextArea .scroll-pane {
    -fx-background-color: transparent;
}

TextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


TextArea .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-cursor: DEFAULT;
}

TextArea .scroll-pane .content .text {
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

